@page
@using FitToFight.Models;
@model FitToFight.Pages.ClassPage.IndexModel
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Class";
}

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<style>
    .row {
        justify-content: center;
    }

    .bg-Weekend {
        background-color: grey;
    }

    .bg-Normal {
        background-color: green;
    }

    .bg-Ladies {
        background-color: purple;
    }

    .bg-Kids {
        background-color: orange;
    }

    .bg-Closed {
        background-color: red;
    }
</style>


<div class="container">
    @{
        var date = DateTime.Now;
        // var date = DateTime.Now;
        var dayOffset = ((int)date.DayOfWeek) - 1;

        ViewBag.ShowKidsClasses = false;


        var classes = Model.ClassesView.ToList();
        var kidsClasses = Model.ClassesView.ToList();


        classes = Model.ClassesView.Where(r => r.ClassType != "Kids").OrderBy(r => r.Date).ToList();
        date = date.Date + new TimeSpan(19, 0, 0);


        <div class="row-lg-11" style="height:10px"></div>

        <div class="row-lg-11">
            <div class="col-lg-11 mx-auto rounded border p-3 bg-light">
                <h1>Adult Classes</h1>

                @for (int i = 0; i < 28; i = i + 7)
                {
                    <div class="row mx-auto" style="margin-top:10px">
                        @for (int j = 0; j < 7; j++)
                        {
                            var currentClass = classes.Where(r => r.Date == date.AddDays(i + j - dayOffset)).FirstOrDefault();
                            if (currentClass == null || currentClass.ClassType == "Weekend")
                            {
                                <div class="col-sm-1 rounded text-center text-light mx-auto bg-dark" style="height:175px;width:150px;">
                                    @(date.AddDays(i + j - dayOffset).DayOfWeek)
                                </div>
                                continue;
                            }

                            <div class="col-sm-1 rounded text-center text-light mx-auto @(!currentClass.Open  ? "bg-Closed" :$"bg-{currentClass.ClassType}" ) " style="height:175px;width:150px;">
                                <div>
                                    @(date.AddDays(i + j - dayOffset).DayOfWeek)
                                </div>
                                <div>
                                    @currentClass.Date.TimeOfDay
                                </div>

                                <div style="border-bottom:solid;border-width:0.5px;height:0.5px;width:100%"> </div>
                                <div>
                                    @currentClass.Date.ToString("dd - MM - yyyy")
                                </div>
                                <div>
                                    @currentClass.ClassType
                                </div>

                                <div style="border-bottom:solid;border-width:0.5px;height:0.5px;width:100%"> </div>

                                @currentClass.CurrentSize/@currentClass.MaxSize
                                <div style="border-bottom:solid;border-width:0.5px;height:0.5px;width:100%"> </div>
                                <div style="height:10px"></div>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    var appUser = UserManager.GetUserAsync(User).Result;
                                    if ((appUser.Gender == "Female" || appUser.Gender == "Other") && currentClass.ClassType == "Ladies" && appUser.DateOfBirth < DateTime.Now.AddYears(-14) && currentClass.Open && currentClass.Date > DateTime.Now)
                                    {
                                        var alreadyBooked = Model.ActiveClasses.Where(r => r.ScheduleID == currentClass.ScheduleID && r.UserID == Guid.Parse(appUser.Id)).FirstOrDefault();

                                        if (alreadyBooked == null)
                                        {
                                            <div>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookModal" data-bs-classid="@currentClass.ScheduleID">
                                                    Book
                                                </button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookModal" data-bs-classid="@currentClass.ScheduleID" disabled>
                                                    Unbook
                                                </button>
                                            </div>
                                        }

                                    }
                                    else if (currentClass.ClassType == "Normal" && appUser.DateOfBirth < DateTime.Now.AddYears(-14) && currentClass.Open && currentClass.Date > DateTime.Now)
                                    {
                                        var alreadyBooked = Model.ActiveClasses.Where(r => r.ScheduleID == currentClass.ScheduleID && r.UserID == Guid.Parse(appUser.Id)).FirstOrDefault();

                                        if (alreadyBooked == null)
                                        {
                                            <div>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookModal" data-bs-classid="@currentClass.ScheduleID">
                                                    Book
                                                </button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookModal" data-bs-classid="@currentClass.ScheduleID" disabled>
                                                    Unbook
                                                </button>
                                            </div>
                                        }
                                    }

                                }
                            </div>

                        }
                    </div>
                }
            </div>
        </div>
        <div class="row-lg-11" style="height:10px"></div>

        kidsClasses = Model.ClassesView.Where(r => r.ClassType == "Kids").OrderBy(r => r.Date).ToList();
        date = DateTime.Now;
        date = date.Date + new TimeSpan(17, 30, 0);

        <div class="row-lg-11">
            <div class="col-lg-11 mx-auto rounded border p-3 bg-light">
                <h1>Kids Classes</h1>

                @for (int i = 0; i < 28; i = i + 7)
                {
                    <div class="row mx-auto" style="margin-top:10px">
                        @for (int j = 0; j < 7; j++)
                        {
                            var currentClass = kidsClasses.Where(r => r.Date == date.AddDays(i + j - dayOffset)).FirstOrDefault();
                            if (currentClass == null || currentClass.ClassType == "Weekend")
                            {
                                <div class="col-sm-1 rounded text-center text-light mx-auto bg-dark" style="height:175px;width:150px;">
                                    @(date.AddDays(i + j - dayOffset).DayOfWeek)
                                </div>
                                continue;
                            }

                            <div class="col-sm-1 rounded text-center text-light mx-auto @(!currentClass.Open  ? "bg-Closed" :$"bg-{currentClass.ClassType}" ) " style="height:175px;width:150px;">
                                <div>
                                    @(date.AddDays(i + j - dayOffset).DayOfWeek)
                                </div>
                                <div>
                                    @currentClass.Date.TimeOfDay
                                </div>

                                <div style="border-bottom:solid;border-width:0.5px;height:0.5px;width:100%"> </div>
                                <div>
                                    @currentClass.Date.ToString("dd - MM - yyyy")
                                </div>
                                <div>
                                    @currentClass.ClassType
                                </div>

                                <div style="border-bottom:solid;border-width:0.5px;height:0.5px;width:100%"> </div>


                                @currentClass.CurrentSize/@currentClass.MaxSize
                                <div style="border-bottom:solid;border-width:0.5px;height:0.5px;width:100%"> </div>
                                <div style="height:10px"></div>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    var appUser = UserManager.GetUserAsync(User).Result;
                                    if (appUser.DateOfBirth > DateTime.Now.AddYears(-14) && currentClass.Open && currentClass.Date > DateTime.Now)
                                    {
                                        var alreadyBooked = Model.ActiveClasses.Where(r => r.ScheduleID == currentClass.ScheduleID && r.UserID == Guid.Parse(appUser.Id)).FirstOrDefault();

                                        if (alreadyBooked == null)
                                        {
                                            <div>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookModal" data-bs-classid="@currentClass.ScheduleID" data-bs-type="Book">
                                                    Book
                                                </button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#bookModal" data-bs-classid="@currentClass.ScheduleID" data-bs-type="Cancel">
                                                    Cancel
                                                </button>
                                            </div>
                                        }
                                    }
                                }
                            </div>

                        }
                    </div>
                }
            </div>
        </div>

    }

</div>


<div class="modal fade" id="bookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="registerForm" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Book</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <input asp-for="scheduleId" type="hidden" id="ScheduleId" />
                <input asp-for="type" type="hidden" id="Type" />
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" data-bs-sumbit="modal" id="submitButton">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>


        var bookModal = document.getElementById('bookModal')
        bookModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var classid = button.getAttribute('data-bs-classid')
            var type = button.getAttribute('data-bs-type')


            if (type == "book") {
                document.getElementById("modal-body").innerHTML = "Are you sure you want to book onto this class?"
            }
            else {
                document.getElementById("modal-body").innerHTML = "Are you sure you want to cancel this class?"
            }




            document.getElementById("ScheduleId").value = classid;
            document.getElementById("Type").value = type;

        })


    </script>

}



